:root {
  --frame-bg: #0b5ed7;
  --background: #ffffff;
}

body {
  background-color: var(--background);
}

.quiz-window {
  background-color: var(--frame-bg);
  width: 1000px;
  min-height: 30rem;
}

.window {
  background-color: var(--background);
}

h1 {
  font-size: 32px;
}
